.HomePage{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--8m);
  width: 100%;
  min-height: 100dvh;
  height: auto;
  .carousel{
    max-width: 1240px;
    height: 100%;
    width: 66%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    gap: var(--5m);
    padding: var(--4m);
    overflow: auto;
    .carousel-track {
      display: flex;
      flex-direction: column;
      gap: var(--5m);
      width: 100%
    }
    .carousel-track.paused {
      animation-play-state: paused;
    }
    .carousel-track > * {
      flex: 0 0 auto;
      width: 100%;
    }
  }
  .right{
    max-width: 675px;
    height: 100dvh;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    gap: var(--4m);
    padding: var(--4m);
    position: sticky;
    top: 0;
  }
  @media only screen and (max-width: 1920px){
    .carousel{
      max-width: 880px;
    }
    .right{
      max-width: 500px;
    }
  }
  @media only screen and (max-width: 1350px){
    gap: 0;
    .carousel{
      max-width: auto;
      width: 60%;
      gap: 0;
      padding: var(--3m);
      .carousel-track {
        gap: var(--3m);
      }
    }
    .right{
      max-width: none;
      width: 40%;
      gap: var(--3m);
      padding: var(--3m);
    }
  }
  @media only screen and (max-width: 1100px){
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    .carousel{
      max-width: 100%;
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: flex-start;
      gap: 0;
      padding: 0;
      overflow: hidden;
      max-height: none;
      .swiper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;
        padding: var(--4m);
      }
      .swiper-wrapper{
        height: auto;
      }
      .swiper-container {
        width: 100%;
        height: 100%;
      }
      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 86%;
        height: auto !important;
        .cornerBorder{
          width: 100%;
        }
      }
      .carousel-track {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        overflow: auto;
        scroll-behavior: smooth;
      }
      .carousel-track.paused {
        animation-play-state: paused;
      }
      @keyframes scroll {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-50%);
        }
      }
      .carousel-track > * {
        flex: 0 0 auto;
        width: 66dvw;
      }
    }
    .right{
      position: relative;
      width: 100%;
      max-width: 650px;
      height: auto;
    }
  }
  @media only screen and (max-width: 800px){
    padding-bottom: var(--10m);
  }
  @media only screen and (max-width: 500px){
    .right{
      margin-top: var(--3m);
    }
  }
}
.ProjectPage{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  min-height: 100dvh;
  .left{
    max-width: 855px;
    height: auto;
    overflow: hidden;
    min-height: 100dvh;
    width: 45%;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--4m);
    padding: var(--4m);
  }
  .right{
    max-width: 1240px;
    min-height: 100dvh;
    height: auto;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--5m);
    padding: var(--4m);
    &>div{
      transition: .3s var(--smoothanimation);
    }
    .imagePreview{
      width: fit-content;
      cursor: pointer;
      img{
        max-width: 675px;
      }
    }
    .videoPreview{
      width: fit-content;
    }
  }
  @media only screen and (max-width: 1920px){
    .left{
      max-width: 720px;
    }
    .right{
      max-width: 880px;
    }
  }
  @media only screen and (max-width: 900px){
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: var(--10m);
    .left{
      max-width: 100%;
      min-height: auto;
      width: 100%;
      position: relative;
      top: auto;
      gap: var(--3m);
      padding: var(--3m);
      &>.dflexcolumn{
        justify-content: flex-start !important;
        height: auto !important;
      }
    }
    .right{
      margin: 0 !important;
      max-width: 100%;
      min-height: auto;
      height: auto;
      width: 100%;
      gap: var(--3m);
      padding: var(--3m);
    }
  }
  .cornerBorder{
    cursor: default !important;
    img{
      cursor: default !important;
    }
    &:hover{
      .top, .bottom{
        height: 60px;
        &::before, &::after{
          width: 60px;
          height: 60px;
        }
        &::before{
          border-left: 1px solid var(--gray-200);
          border-top: 1px solid var(--gray-200);
        }
        &::after{
          border-right: 1px solid var(--gray-200);
          border-top: 1px solid var(--gray-200);
        }
      }
      .bottom{
        &::before{border-top: none;
          border-bottom: 1px solid var(--gray-200);
        }
        &::after{border-top: none;
          border-bottom: 1px solid var(--gray-200);
        }
      }
      .cardProject{
        img{
          transform: scale(1) !important;
          transition: .5s var(--smoothanimation);
        }
      }
      .firstBorder{
        border-color: var(--gray-200);
        transition: .5s var(--smoothanimation);
      }
    }
    @media only screen and (max-width: 500px){
      padding: var(--1m);
      .top, .bottom{
        height: 30px;
        &::before, &::after{
          width: 30px;
          height: 30px;
        }
      }
      &:hover{
        .top, .bottom{
          height: 30px;
          &::before, &::after{
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 500px){
    .left{
      margin-top: var(--3m);
    }
  }
}
.video-react{
  width: 600px !important;
  min-width: 600px !important;
  height: 100%;
  font-family: var(--text-font) !important;
  @media only screen and (max-width: 1200px){
    width: 550px !important;
    min-width: 550px !important;
  }
  @media only screen and (max-width: 1050px){
    width: 470px !important;
    min-width: 470px !important;
  }
  @media only screen and (max-width: 900px){
    width: 75dvw !important;
    min-width: 200px !important;
    max-width: 550px !important;
  }
}
.video-react .video-react-control-bar {
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  border-radius: 30px;
  width: calc(100% - var(--2m)) !important;
  margin-bottom: var(--1m) !important;
  margin-left: var(--1m) !important;
  margin-right: var(--1m) !important;
  background-color: var(--white-lighter) !important; /* Background color of control bar */
}
.video-react .video-react-control:focus:before, .video-react .video-react-control:hover:before, .video-react .video-react-control:focus{
  text-shadow: none !important;
  opacity: .7;
}
.video-react-big-play-button{
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: var(--6m) !important;
  height: var(--6m) !important;
  border: none !important;
  border-radius: 100% !important;
  background: var(--white-light) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  &:before{
    top: 2px !important;
    color: var(--primary);
  }
}
.video-react-slider{
  &:focus{
    box-shadow: none !important;
  }
}
.video-react .video-react-button {
  color: var(--black) !important; /* Color of control buttons */
}
.video-react .video-react-play-progress {
  border-radius: 10px !important;
  background: var(--primary) !important; /* Color of the play progress bar */
}
.video-react .video-react-load-progress {
  background: #555 !important; /* Color of the load progress bar */
}
.video-react .video-react-seek-bar {
  background: #333 !important; /* Color of the seek bar */
}
.loader{
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100dvw;
  pointer-events: none;
  height: 100dvh;
  background: rgba(0,0,0,0.1);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  animation: loading 1s linear;
  animation-iteration-count: 1;
}
@keyframes loading {
  0% {
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
  }
  100% {
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
  }
}
.cornerBorder{
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  width: auto;
  height: auto;
  padding: var(--2m);
  .top, .bottom{
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    transition: .5s var(--smoothanimation);
    &::before, &::after{
      content: '';
      position: absolute;
      width: 60px;
      height: 60px;
      transition: .5s var(--smoothanimation);
      aspect-ratio: 1 !important;
      z-index: 0;
    }
    &::before{
      top: 0;
      left: 0;
      transition: .5s var(--smoothanimation);
      border-left: 1px solid var(--gray-200);
      border-top: 1px solid var(--gray-200);
    }
    &::after{
      top: 0;
      right: 0;
      transition: .5s var(--smoothanimation);
      border-right: 1px solid var(--gray-200);
      border-top: 1px solid var(--gray-200);
    }
  }
  .bottom{
    bottom: 0;
    top: auto;
    &::before{
      bottom: 0;
      border-top: none;
      transition: .5s var(--smoothanimation);
      border-bottom: 1px solid var(--gray-200);
    }
    &::after{
      bottom: 0;
      border-top: none;
      transition: .5s var(--smoothanimation);
      border-bottom: 1px solid var(--gray-200);
    }
  }
  &:hover{
    .top, .bottom{
      height: 80px;
      transition: .5s var(--smoothanimation);
      &::before, &::after{
        transition: .5s var(--smoothanimation);
        width: 80px;
        height: 80px;
      }
      &::before{
        transition: .5s var(--smoothanimation);
        border-left: 2px solid var(--primary);
        border-top: 2px solid var(--primary);
      }
      &::after{
        transition: .5s var(--smoothanimation);
        border-right: 2px solid var(--primary);
        border-top: 2px solid var(--primary);
      }
    }
    .bottom{
      &::before{
        border-top: none;
        transition: .5s var(--smoothanimation);
        border-bottom: 2px solid var(--primary);
      }
      &::after{
        border-top: none;
        transition: .5s var(--smoothanimation);
        border-bottom: 2px solid var(--primary);
      }
    }
    .cardProject{
      img{
        transform: scale(1.07) !important;
        transition: .5s var(--smoothanimation);
      }
      .cardProject--right{
        .backgroundCardImage{
          opacity: .30;
          transition: .5s var(--smoothanimation);
        }
      }
    }
    .firstBorder{
      border-color: var(--primary-light);
      transition: .5s var(--smoothanimation);
    }
  }
  @media only screen and (max-width: 500px){
    padding: var(--1m);
    .top, .bottom{
      height: 30px;
      &::before, &::after{
        width: 30px;
        height: 30px;
      }
    }
    &:hover{
      .top, .bottom{
        height: 40px;
        &::before, &::after{
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
.firstBorder{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: auto;
  height: auto;
  border: 1px solid var(--gray-200);
  padding: var(--2m);
  transition: .5s var(--smoothanimation);
  &:hover{
    border-color: var(--primary-light);
    transition: .5s var(--smoothanimation);
  }
  @media only screen and (max-width: 500px){
    padding: var(--1m);
  }
}
.cardProject{
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  img{
    transition: .5s var(--smoothanimation);
  }
  &--left{
    aspect-ratio: 28/35;
    width: 40%;
    height: 100%;
    overflow: hidden;
  }
  &--right{
    height: 100%;
    width: 60%;
    gap: var(--2m);
    padding: var(--3m) var(--4m);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    .backgroundCardImage{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: .15;
      transition: .5s var(--smoothanimation);
      &:after{
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(255,255,255,.01);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
      }
    }
  }
  &:hover{
    img{
      transform: scale(1.07) !important;
      transition: .5s var(--smoothanimation);
    }
    .cardProject--right{
      .backgroundCardImage{
        opacity: .30;
        transition: .5s var(--smoothanimation);
      }
    }
  }
  @media only screen and (max-width: 1350px){
    .cardProject--right{
      gap: var(--1m);
      padding: var(--2m);
    }
  }
  @media only screen and (max-width: 1100px){
    height: calc(100dvw * 0.3);
  }
  @media only screen and (max-width: 800px){
    flex-direction: column;
    height: auto;
    &--left{
      width: 100%;
    }
    &--right{
      width: 100%;
      padding: 12px var(--2m) !important;
      height: auto !important;
    }
  }
}

.tag{
  padding: 3px;
  border: 1px solid var(--gray-300);
  h6{
    background-color: var(--black);
    color: var(--white);
    padding: var(--05m) var(--1m);
    white-space: nowrap;
    text-align: left;
  }
}