.CTA{
  --mainColor: var(--primary);
  --hoverColor: var(--black);
  padding: 8px 12px 8px 8px;
  text-align: left;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  gap: var(--1m);
  text-decoration: none;
  color: var(--white);
  margin-left: 20px;
  outline: none;
  background: var(--mainColor);
  transition: .5s var(--smoothanimation);
  position: relative;
  svg{
    transition: .5s var(--smoothanimation);
  }
  &:before{
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    content: '';
    background: none;
    height: -webkit-fill-available;
    border: 2px solid var(--mainColor);
    width: var(--2m);
    transition: .5s var(--smoothanimation);
  }
  &:hover{
    transition: .5s var(--smoothanimation);
    color: var(--white);
    background: var(--hoverColor);
    svg{
      transition: .5s var(--smoothanimation);
    }
    &:before{
      transition: .5s var(--smoothanimation);
      border: 2px solid var(--hoverColor);
    }
  }
  &--pink{
    --mainColor: var(--secondary);
    --hoverColor: var(--black);
  }
  @media only screen and (max-width: 900px){
    padding: 5px 8px 5px 5px;
    gap: var(--05m);
  }
}
.gradient-blur {
  position: fixed;
  opacity: 1;
  z-index: 5;
  inset: auto -1px -1px -1px;
  height: 20%;
  pointer-events: none;
  &--revert{
    height: 160px;
    inset: -1px -1px auto -1px;
    transform: rotate(180deg);
    @media only screen and (max-width: 1100px){
      height: 140px;
    }
    @media only screen and (max-width: 900px){
      height: 120px;
    }
    @media only screen and (max-width: 600px){
      height: 80px;
    }
  }
}
.gradient-blur > div,
.gradient-blur::before,
.gradient-blur::after {
  position: absolute;
  inset: 0;
}
.gradient-blur::before {
  content: "";
  z-index: 1;
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  mask: linear-gradient(
                  to bottom,
                  rgba(0, 0, 0, 0) 0%,
                  rgba(0, 0, 0, 1) 12.5%,
                  rgba(0, 0, 0, 1) 25%,
                  rgba(0, 0, 0, 0) 37.5%
  );
}
.gradient-blur > div:nth-of-type(1) {
  z-index: 2;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  mask: linear-gradient(
                  to bottom,
                  rgba(0, 0, 0, 0) 12.5%,
                  rgba(0, 0, 0, 1) 25%,
                  rgba(0, 0, 0, 1) 37.5%,
                  rgba(0, 0, 0, 0) 50%
  );
}
.gradient-blur > div:nth-of-type(2) {
  z-index: 3;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  mask: linear-gradient(
                  to bottom,
                  rgba(0, 0, 0, 0) 25%,
                  rgba(0, 0, 0, 1) 37.5%,
                  rgba(0, 0, 0, 1) 50%,
                  rgba(0, 0, 0, 0) 62.5%
  );
}
.gradient-blur > div:nth-of-type(3) {
  z-index: 4;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  mask: linear-gradient(
                  to bottom,
                  rgba(0, 0, 0, 0) 37.5%,
                  rgba(0, 0, 0, 1) 50%,
                  rgba(0, 0, 0, 1) 62.5%,
                  rgba(0, 0, 0, 0) 75%
  );
}
.gradient-blur > div:nth-of-type(4) {
  z-index: 5;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  mask: linear-gradient(
                  to bottom,
                  rgba(0, 0, 0, 0) 50%,
                  rgba(0, 0, 0, 1) 62.5%,
                  rgba(0, 0, 0, 1) 75%,
                  rgba(0, 0, 0, 0) 87.5%
  );
}
.gradient-blur > div:nth-of-type(5) {
  z-index: 6;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  mask: linear-gradient(
                  to bottom,
                  rgba(0, 0, 0, 0) 62.5%,
                  rgba(0, 0, 0, 1) 75%,
                  rgba(0, 0, 0, 1) 87.5%,
                  rgba(0, 0, 0, 0) 100%
  );
}
.gradient-blur > div:nth-of-type(6) {
  z-index: 7;
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
  mask: linear-gradient(
                  to bottom,
                  rgba(0, 0, 0, 0) 75%,
                  rgba(0, 0, 0, 1) 87.5%,
                  rgba(0, 0, 0, 1) 100%
  );
}
.gradient-blur::after {
  content: "";
  z-index: 8;
  backdrop-filter: blur(64px);
  -webkit-backdrop-filter: blur(64px);
  mask: linear-gradient(
                  to bottom,
                  rgba(0, 0, 0, 0) 87.5%,
                  rgba(0, 0, 0, 1) 100%
  );
}
.w100{
  width: 100%;
}
.h100{
  height: 100%;
}
.dnone{
  display: none !important;
}
.dflex{
  display: flex !important;
}
.dflexrow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.dflexcolumn{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.nowhitespace{
  white-space: nowrap;
}
.whitespace{
  white-space: normal;
}
.nowrap{
  flex-wrap: nowrap;
}
.wrap{
  flex-wrap: wrap;
}
.alignCenter{
  text-align: center;
}
.alignLeft{
  text-align: left;
}
.alignRight{
  text-align: right;
}
.justifyCenter{
  justify-content: center;
}
.justifyLeft{
  justify-content: flex-start;
}
.justifyRight{
  justify-content: flex-end;
}
.justifyBetween{
  justify-content: space-between;
}
.justifyAround{
  justify-content: space-around;
}
@for $size from 1 through 1400 {
  .m#{$size}{
    margin: ($size+px);
  }
  .p#{$size}{
    padding: ($size+px);
  }
  .gap#{$size}{
    gap: ($size+px);
    @media only screen and (max-width: 900px){
      gap: (calc($size/1.5)+px);
    }
    @media only screen and (max-width: 600px){
      gap: (calc($size/1.7)+px);
    }
    @media only screen and (max-width: 400px){
      gap: (calc($size/2)+px);
    }
  }
  .maxWidth#{$size}{
    max-width: ($size+px);
  }
}
.gapBetween{
  justify-content: space-between;
}
.disabled{
  pointer-events: none;
  cursor: not-allowed;
  color: var(--grey);
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}